
<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
      <h2>Tasks to do </h2>
      <div class="d-flex">
       <button (click)="clickAddtask()" class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Add task</button>
       <button routerLink="/login" style="margin-left: 5px;" class="btn btn-danger" type="button" data-bs-toggle="modal">Log Out</button>
     </div>
    </div>
  </nav>
  <div class="p-5 mb-4 bg-light rounded-3">
     <div class="container-fluid py-5">
       <h1 class="display-5 fw-bold">Task Board</h1>       
     </div>
  </div>
  <table class="table mt-4">
     <thead>
         <tr>
             <th scope="col">Task Id</th>
             <th scope="col">Task name</th>
             <th scope="col">Start date</th> 
             <th scope="col">Finish date</th> 
             <th scope="col">Progression</th>
             <th scope="col">Action</th>
         </tr>
     </thead>
     <tbody>
         <tr *ngFor="let data of alltaskData">
             <td>{{data.id}}</td>
             <td>{{data.name}}</td>
             <td>{{data.Start}}</td>
             <td>{{data.Finish}}</td>
             <td>{{data.Progression}}</td>
             <td>
                 <button (click)="onEditTask(data)" class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button> &nbsp;
                 <button (click)="deletetask(data.id)" class="btn btn-danger" >Delete</button>
             </td>
         </tr>
     </tbody>
  </table>
  
  
   
   <!-- Modal -->
   <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title" id="exampleModalLabel">Tasks</h5>
           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
             <form [formGroup] = "formValue" >
                 <div class="mb-3">
                   <label class="form-label">Name</label>
                   <input type="text" class="form-control" formControlName="name" placeholder="Task Name" id="exampleInputEmail1" aria-describedby="emailHelp">
                 </div>
               
             
               
                 
               </form>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="clear">Close</button>
           <button *ngIf="showAdd" type="button" class="btn btn-primary" (click)="addtask()">Add Details</button>
           <button *ngIf="showBtn" type="button" class="btn btn-primary" (click)="updatetask()">Update</button>
         </div>
       </div>
     </div>
   </div>